/* HEADER */
.top-header{
  height: 30px;
  background-color: black;

}

.top-header img{
  height: 100%;
  padding: 10px 7px;
}

.ab-btn-nav{
  border-radius: 25px; 
  margin: 0 15px 0 10px;
}
/* //HEADER */

/* JAMBOTRON */
.ab-jambo-bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

.ab-jambo-1{
  background-image: url("../img/jumbo-bg.png");
  margin-top: 106px;
}

.ab-content-jumbo{
  padding: 350px 0 30px 0;
  color: white;
  height: 100%;
}

.ab-content-jumbo img{
  width: 200px;
}

.ab-content-jumbo h2{
  font-size: 30px;
  padding: 10px 0;
}

.ab-btn-jumbo{
  color: white;
  background-color: #cd3d0f;
  border-radius: 20px;
}
/* //JAMBOTRON */

/* CARD JAMBOTRON */
.ab-margin-jb{
  margin-bottom: 60px;
}

.ab-card-jb img{
  width: 100%;
  border-radius: 10px;
}
/* //CARD JAMBOTRON */

/* PS5 SECTION */
.ab-margin-txt{
  padding-top: 230px;
}
/* //PS5 SECTION */

/* SECOND-JAMBOTRON */
.ab-jambo-2{
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.ab-jumbo2-padding{
  padding: 50px 0;
}

h2.ab-text-jumbo{
  font-size: 40px;
}
/* //SECOND-JAMBOTRON */

/* NUOVE USCITE */
.ab-bg-grey{
  background-color: #1f1f1f;
  color: white;
  padding: 20px 0;
}
/* //NUOVE USCITE */

/* PLAYSTATION PLUS */
.ab-ps-plus-bg{
  background-color: #bebcbb;
}

.ab-contain-psplus{
  display: flex;
  justify-content: center;
}

.ab-btn-plus{
  background-color: #d9dadc;
  color: #2860e6;
  border: none;
  font-weight: 600;
}

.ab-plus-img{
  width: 350px;
}
/* //PLAYSTATION PLUS */

/* PLAYSTATION NOW */
.ab-psnow-bg{
  background-color: #161c3b;
}

.ab-btn-now{
  background-color: white;
}
/* //PLAYSTATION NOW */